:root {
  --border: #bbbbbb;
  font-family: sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.page {
  display: flex;
  width: 100vw;
  max-height: 100vh;
  margin: 0;
  padding: 0;

  .code-editor {
    min-width: 300px;
    border-right: 1px solid var(--border);
    max-height: 99vh;
    overflow: auto;
  }

  .code-output-panel {
    margin: 10px;

    .run-feedback {
      margin-left: 10px;
    }

    .code-output {
      font-family: monospace;
    }

    padding-right: 10px;
    border-right: 1px solid var(--border);
  }

  .memory-view-panel {
    overflow: auto;
    max-height: 99vh;
    .memory-cell-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .memory-cell {
        width: 140px;
        font-family: monospace;
        border: 1px solid var(--border);
        height: 50px;
      }
    }
  }
}

.currently-executing-highlight {
  background-color: #ffff00;
}
